data
pgdata
docker_sql/ny_taxi_postgres_data/
docker_sql/pgdata
output
yellow_head.csv
yellow_tripdata_2021-01.csv
*.pyc
venv
.env
.credentials
.terraform
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl
